
@{
    ViewBag.Title = "LR_Result";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Формула для нахождения коэффициентов уравнения линейной регрессии готова</h2>
<p>
    Для ввода данных перейдите <a href="@ViewBag.choice">по этой ссылке</a>
</p>

