
@{
    ViewBag.Title = "ExpectedValue";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Выборочное среднее</h2>
<p>
    Укажите число значений, необходимое для подсчета выборочного среднего:
</p>

<p>
    @using (Html.BeginForm("GetN", "ExpectedValue"))
    {
        <input type="text" name="Num" />
        <input type="submit" />
    }
</p>

