
@{
    ViewBag.Title = "ST_Result";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Формула для  Т-теста Стьюдента сгенерирована</h2>
<p>
    Для ввода данных перейдите <a href="@ViewBag.choice">по этой ссылке</a>
</p>

