
@{
    ViewBag.Title = "Help";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Помощь по сервису</h2>
<p>
    Данный раздел содержит короткую справку по пользованию веб-сервисом.
</p>
<p>
    Если Вы хотите найти линейную регрессию, исправленную среднеквадратическую дисперсию или выборочное среднее, введите в поле объем данных, для которых будут производиться вычисления.
</p>
<p>
    Если Вы вычисляете значение критерия Стьюдента, введите в поля объем данных, для которых будут производиться вычисления, значение критерия (одновыборочный:1 или двувыборочный:2) и тип теста (1: равные выборка и дисперсия, 2: неравные выборки, равная дисперсия, 3: неравные выборки и дисперсия)
</p>
