@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Веб-сервис для решения статистических задач</h1>
    <p class="lead">Здравствуйте! Данный сервис позволяет решать такие статистические задачи, как нахождение выборочного среднего, исправленной выборочной дисперсии, линейной регрессии, а также расчет критерия Стьюдента.</p>
</div>

